Codesys/Azure_IOTDevice-AllUsers.opt
Codesys/Azure_IOTDevice-lrettore-EALTP16SLR2023.opt
Codesys/Azure_IOTDevice_project.precompilecache
Codesys/Azure_IOTDevice.~u
Webapp/AzureIOTWebApp/Web.config
Webapp/AzureIOTWebApp/Web.config
Codesys/Azure_IOTDevicePi.~u
