Codesys/Azure_IOTDevice-AllUsers.opt
Codesys/Azure_IOTDevice-lrettore-EALTP16SLR2023.opt
Codesys/Azure_IOTDevice_project.precompilecache
Codesys/Azure_IOTDevice.~u
Webapp/AzureIOTWebApp/Web.config
Webapp/AzureIOTWebApp/Web.config
Codesys/Azure_IOTDevicePi.~u
Codesys/Azure_IOTDevicePi.Device.Application.62ae0517-1da9-4dda-a385-4a1502a25521.bootinfo
Codesys/Azure_IOTDevicePi.Device.Application.62ae0517-1da9-4dda-a385-4a1502a25521.bootinfo_guids
Codesys/Azure_IOTDevicePi.Device.Application.62ae0517-1da9-4dda-a385-4a1502a25521.compileinfo
Webapp/AzureIOTWebApp/obj/Debug/AzureIOTWebApp.csproj.AssemblyReference.cache
Presentation/~$MainImage.pptx
Codesys/Azure_IOTDevicePi_project.precompilecache
Presentation/MainImage.pptx
Codesys/Azure_IOTDevicePi-lrettore-EALTP16SLR2023.opt
Codesys/Azure_IOTDevicePi.~u
Webapp/AzureIOTWebApp/bin/AzureIOTWebApp.dll
Webapp/AzureIOTWebApp/bin/AzureIOTWebApp.pdb
Webapp/AzureIOTWebApp/obj/Debug/AzureIOTWebApp.csproj.AssemblyReference.cache
Webapp/AzureIOTWebApp/obj/Debug/AzureIOTWebApp.csproj.FileListAbsolute.txt
Webapp/AzureIOTWebApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Webapp/AzureIOTWebApp/obj/Release/Package/PackageTmp
Codesys/Azure_IOTDevicePi.~u
Codesys/Azure_IOTDevicePi_project.precompilecache
*.bootinfo
